.vs
Restaurants.API/obj
Restaurants.API/bin

Restaurants.Application/obj
Restaurants.Application/bin

Restaurants.Application.Tests/obj
Restaurants.Application.Tests/bin

Restaurants.Domain/obj
Restaurants.Domain/bin

Restaurants.Infrastracture/obj
Restaurants.Infrastracture/bin

*.log